 body { font-family:  Arial, sans-serif;
            font-size: 11pt;
            color: black;
            background-color: white;
         }

header {
      display: block;
      background-color: rgba(0,0,100,0.5);
      text-align: center;      
      font-size:  12pt;
}

nav {
      display: block;
      float: left;
      width: 18%;
      background-color: lightgray;
}

aside {
      display: block;
      position: absolute;
      top: 20%;
      right: 2px;
      width: 18%;
      padding: 2px;
      border : 2px solid blue;
}

article {
    display: block;
    margin: auto;
    padding: 3px;
    width: 60%;
    background-color: white;
    text-align: justify;
}


footer {
      clear: both;
      background-color: lightgray;
      text-align: center; 
      font-size: 10pt;
}
