body{
  font-family:sans-serif;
  font-size:18px;
  line-height:1.5;
  color:#111;
  background:#000;
  max-width:1200px;
  margin:auto;
}
.flex{
  display:flex;
  flex-wrap:wrap;
  padding:5px;
}

.flex-item{
  background:white;
  box-sizing:border-box;
  width:calc(33.33% - 10px);
  margin:5px;
  padding:25px;
}

.flex-item.w66{
  width:calc(66.66% - 10px);
}

.thumb{
  width:calc(100% + 50px);
  height:auto;
  margin-top:-25px;
  margin-left:-25px;
  
}